*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F3F5FC;
    width: 100vw;
}


main{
    display: flex;
    width: 100%;    
    height: 96vh;
}

.logo{
    width: 31.085588455200195px;
    margin: 40px 0 0 84px;
    height: 48px;
}

input{
    background-color: transparent;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 48px;
    position: absolute;
    width: 680px;
    height: 48px;
    left: 240px;
    top: 168px;
    padding-left: 10px;
    color: #0A3871;
}

input::placeholder{
    color: #0A3871;
}


.botoes {
    display: flex;
    flex-direction: column;
    margin-left: 124.91px;
    margin-top: 80vh;
}

.informacao{
    display: flex;
    align-items: flex-end;
    margin-bottom: 16px;
}

.informacao img{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.informacao p{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color:#495057; 
}

.botoes button{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19.36px;
    align-items: center;
    color: white;
}

.botoes button:nth-child(1){
    background-color: #0A3871;
    border: none;
    margin-right: 24px;
}

.botoes button:nth-child(1):hover{
    background-color: #679cdd;
    border: 1px solid #679cdd;
    color: white;
}

.botoes button:nth-child(2){
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;

}
.botoes button:nth-child(2):hover{
    background-color: #679cdd;
    border: 1px solid #679cdd;
    color: white;
}

aside{
    background-color: white;
    width: 400px;
    min-height: 90vh;
    margin: 40px 0 40px 28%;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imagem-procurando{
    width: 336px;
    display: flex;
    flex-direction: column;

}
#imagem-procurando img{
    height: 304.03070068359375px;
    width: 335.97650146484375px;
    margin-top: 200px;
}

#imagem-procurando h3{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin: 0 32px;
    text-align: center;
    color: #343A40;
    font-size: 24px;
}

#imagem-procurando p{
    font-family: 'Inter', sans-serif;
    margin: 16px 32px 0 32px;
    text-align: center;
    color: #495057;
    font-size: 16px;
}


.texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    margin: 24px;
    text-align:start
}

#copiar{
    flex-direction: column;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19.36px;
    color: #0A3871;
    background-color: white;
    border: 1px solid #0A3871;
    align-items: center;
}

#copiar:hover{
    background-color: #679cdd;
    border: 1px solid #679cdd;
    color: white;
}

textarea{
    border: 0 none;
    color:#495057;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 36px;
}

button{
    cursor: pointer;
}

footer{
    height: 4vh;
    width: 100vw;
    background-color: #0A3871;
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer i{
    color: white;
    margin: 0 10px;
    cursor: pointer;
}


@media screen and (max-width: 770px) {
    main{
        display: flex;
        flex-direction: column;
        min-height: 96vh;
    }

    .logo{
        margin: 73.43px 0 0 40px;
    }

    input{
        left: 40px;
        top: 240px;
    }

    .botoes{
        width: 100%;
        margin-top: 582px;
        margin-left: 40px;
    }

    .botoes button{
        width: 350px;      
    }

    aside{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 730px;
        min-height: 133px;
        margin: 64px 0 40px 40px;
        
    }

    #imagem-procurando{
        width: 688px;
        height: 133px;
    }

    #imagem-procurando img{
        display: none;
    }

    footer{
        width: 105vw;
    }

    textarea{
        justify-content: center;
        text-align: center;
        width: 500px;
        
    }

    #copiar{
        width: 150px;
        height: 20px;
        padding: 20px;
        justify-content: center;
    }

}

@media screen and (max-width: 380px) {
    main{
        display: flex;
        flex-direction: column;
        height: 96vh;
    }

    .logo{
        margin: 24px 0 0 88px;
        height: 60px;
        width: 40px;
    }

    input{
        left: 80px;
        top: 153px;
        font-size: 50px;
        height: 70px;
    }

    .botoes{
        width: 100%;
        margin-top: 700px;
        margin-left: 80px;
        display: flex;
        flex-direction: column;

    }

    .botoes button{
        width: 600px;
        height: 67px;
        margin: 8px 0;
        font-size: 25px;   
    }

    .informacao p{
        font-size: 18px;
    }
    

    aside{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        padding: 50px 0;
        margin: 64px 0 40px 80px; 
    }

    #imagem-procurando{
        width: 688px;
        height: 133px;
    }

    #imagem-procurando img{
        display: none;
    }

    #imagem-procurando p{
        font-size: 22px;
    }


    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    textarea{
        justify-content: center;
        text-align: center;
        height: 186px;
        
    }

    #copiar{
        width: 150px;
        height: 20px;
        padding: 20px;
        justify-content: center;
    }
}

.classeHidden{
    display: none;
}
